[submodule "external/IBWrapper"]
	path = external/IBWrapper
	url = https://github.com/QuantDreamGit/InteractiveBrokersWrapperCpp
[submodule "external/IBapi"]
	path = external/IBapi
	url = https://github.com/QuantDreamGit/IBapi
